[2013-05-07 13:30] volomike opened #1 "Explanation"
I really appreciate this, and downloaded it so that I can learn it.

Could you improve this only slightly by giving an example explanation where I might use each pattern, in simplistic terms?

For instance, let's say I want to make a plugin architecture for a web app -- which design pattern would you use? Or let's say I want to confirm a login -- which design pattern? You don't have to give those

[2013-05-08 07:01] domnikl opened #4 "add Command pattern"

[2013-05-08 07:02] domnikl opened #5 "add State pattern"

[2013-05-08 07:05] domnikl opened #6 "add Null Object pattern"

[2013-05-10 09:28] #4 closed, assigned to nobody

[2013-05-10 21:25] cangelis opened #12 "Command pattern wrong intent and implementation"
The command pattern's intent (in the comment text) and the implementation looks much more like a template pattern. What Symfony mean by Command is "CLI Commands" not "Command Pattern". Please take a look at the Intent of the command pattern.

http://c2.com/cgi/wiki?CommandPattern

[2013-07-03 10:02] #5 closed, assigned to nobody

[2013-07-08 07:10] Trismegiste opened #22 "DataMapper is unfinished"
There are parse error like this :

https://github.com/domnikl/DesignPatternsPHP/blob/master/DataMapper/UserMapper.php#L80

Namespace does not follow PSR0 and the script Test.php cannot be launched.

[2013-08-16 09:34] JindrichPilar opened #26 "Visitor pattern - Role interface"
Shouldn't the role interface define `accept` method, to be sure any Role class can accept RoleVisitor?

Maybe rather than interface use an abstract class to evade repeating `accept` method code in every subclass.

Or did I get it all wrong?

https://github.com/domnikl/DesignPatternsPHP/blob/master/Visitor/Visitor.php#L17

[2013-08-21 13:32] #26 closed, assigned to nobody

[2013-08-21 17:26] #22 closed, assigned to nobody

[2013-09-02 16:59] mmoreram opened #31 "Singleton should be removed"
As Singleton is considered as an Anti-Pattern, I thing that should be removed.
Instead of that, dependency Injection design is best alternative.

[2013-09-03 12:55] #12 closed, assigned to nobody

[2013-09-03 12:56] #6 closed, assigned to nobody

[2013-09-03 16:48] #31 closed, assigned to nobody

[2013-09-04 09:14] #1 closed, assigned to nobody

[2013-09-21 20:33] domnikl opened #34 "add READMEs in every pattern's folder"
The README files should all have a similar structure, so that they're easily readable and users find the important contents right away without much need for searching.

[2013-10-08 11:24] #34 closed, assigned to domnikl

[2013-10-17 12:40] malukenho opened #41 "Delegate Pattern"
Please, implement a delegate pattern.
It's very simple and cool :)

[2013-11-12 05:47] bonndan opened #47 "Enhancement: Add diagrams (http://yuml.me/)"
Great work, kudos!

If you still want to put more effort into it, you can enhance it with embedded diagrams written in plain text (see http://yuml.me/).

[2014-02-10 08:10] mbpcoder opened #66 "where is MVC and HMVC"
hi
where is MVC and HMVC?
they are also good to be in this awesome work.
if you need this tel me i will write them and add to your code later
thanks.

[2014-02-17 08:06] #66 closed, assigned to nobody

[2014-03-06 12:04] #41 closed, assigned to nobody

[2014-03-24 14:04] tonicospinelli opened #75 "Restructure the repository"
What are you think to restructure this repository?

My proposal:

Create a directory structure with types of Design Patterns, like on my branch [restructure](https://github.com/tonicospinelli/DesignPatternsPHP/tree/restructure):

[code]

[2014-04-04 18:45] designermonkey opened #78 "Add Bridge Pattern"
There is a `Bridge` pattern, as demonstrated on http://sourcemaking.com/design_patterns/bridge/php

[2014-05-03 18:39] marcusesa opened #88 "Command Patern - method undo"
What do you think about add method undo in command interface?

[2014-05-06 16:11] hgraca opened #89 "SimpleFactory or ConcreteFactory ?"
The SimpleFactory pattern is referred both in the documentation and in the code, as both SimpleFactory and ConcreteFactory.

I would make a pull request but I actually don't know what is the correct name.

[2014-06-06 07:41] #78 closed, assigned to nobody

[2014-06-06 13:28] #75 closed, assigned to nobody

[2014-07-07 18:24] leocavalcante opened #105 "Repository knows about database columns"
I have a thought about Repository pattern. It knows too much about the columns name, if I want to create a Storage for a database where `created` is a keyword, so the name of this column in this DB is `created_at`. It will break my Repository implementation. Or even so, if in DB 1 my date is in format `YYYY-MM-DD` and DB 2 my date is as `MM-DD-YYYY`, my Repository should not know how to transform

[2014-07-13 16:48] #105 closed, assigned to nobody

[2014-11-02 09:43] shengbinxu opened #110 "Class 'PHPUnit_Framework_TestCase' not found"
php AbstractFactoryTest.php
PHP Fatal error:  Class 'PHPUnit_Framework_TestCase' not found in /Users/shengbinxu/web/DesignPatternsPHP/Creational/AbstractFactory/Tests/AbstractFactoryTest.php on line 13

Fatal error: Class 'PHPUnit_Framework_TestCase' not found in /Users/shengbinxu/web/DesignPatternsPHP/Creational/AbstractFactory/Tests/AbstractFactoryTest.php on line 13

[2014-11-14 10:38] #110 closed, assigned to nobody

[2014-11-19 00:39] gabrielrtakeda opened #112 "Which UML diagram tool you use?"
I loved that dark theme diagram..

[2014-11-27 10:38] #112 closed, assigned to nobody

[2014-12-30 09:55] eddiejaoude opened #114 "Converting to documentation / book"
It would be great & very useful if this could be converted to a PDF book & to gh-pages ( something like http://couscous.io )

[2015-01-01 08:30] eddiejaoude commented on #114
Hope you had a good New Years eve!

How do I do a link without specifying the extension? eg. if I specify the extension `rst` & generate html, then it won't work, if I specify the extension `html` it works but I feel that is wrong?

[2015-01-01 09:02] aik099 commented on #114
By default if you create an internal link, then it is assumed to be in RST format and extension isn't required.
Here is how to create external links: http://docutils.sourceforge.net/docs/user/rst/quickref.html#hyperlink-targets

Google is pretty good at searching RST documentation by the way as well.

[2015-01-01 10:05] eddiejaoude commented on #114
I wasn't being lazy, I did have a look, but with or without the `rst` extension it didn't work (only with `html` extension).

I looked at the following docs:
http://sphinx-doc.org/rest.html#hyperlinks
http://sphinx-doc.org/markup/inline.html#ref-role

I will research more, sorry to trouble you :smile:

[2015-01-01 10:15] eddiejaoude commented on #114
I needed to use `:doc:` instead of `:ref:`. Easy when you know how :wink:

[2015-01-01 10:33] aik099 commented on #114
I you would like to create PR with your existing progress, then I can take a look at it. It's pretty hard without actually seeing RST content you're talking about. Just add `[WIP] ` before PR title (means work in progress).

[2015-01-01 13:32] eddiejaoude commented on #114
Sure https://github.com/domnikl/DesignPatternsPHP/pull/115

[2015-03-10 02:57] phoenixg opened #124 "Would you please add a tutorial of how to configure phpunit environment using PHPStorm?"

[2015-03-10 05:55] malukenho commented on #124
@phoenixg I think It's not the best place to do this kind of question.
Anyway you can search on google or youtube,

[See documentation about it](https://www.jetbrains.com/phpstorm/help/run-debug-configuration-phpunit.html)

[2015-03-10 06:45] phoenixg commented on #124
I've watched a youtube video but tried failed, thank you, I will see the documentation then.

[2015-03-10 06:45] #124 closed

[2015-04-03 00:22] fhferreira commented on #114
+1

[2015-05-19 11:02] leonampd opened #134 "Version in other languages?"
Hey! Whats'up?!

Is there some version of this repo in other language? I've forked this repo yesterday to translate to portuguese.

---
### To contribute in translation, check Translation Rule/Hint below

 [important] Before your start, re-fork this project or synchronize your repo with upstream!(because i just do some change)
## Translation Rule/Hint
1. All po files were generated by all README.r

[2015-05-19 11:27] domnikl commented on #134
Currently there is only english, but it's a great idea to do this! When you are ready we could put a link to your repo in the README. What do you think of keeping all versions in branches in this repository?

I can contribute a german translation to it. Maybe we get some other languages, too?

[2015-05-19 12:19] leleonam commented on #134
@domnikl,

Awesome! I'll start today, then! My repo is in https://github.com/leleonam/DesignPatternsPHP.

So, I'll start on branch 'portuguese', maybe 'spanish' too.

[2015-05-20 01:38] nueckman commented on #134
@domnikl Translations would be awesome. Just my two cents, but if you want to use gh-pages in the future (which could be a nice addition), branches might be not the best way to deal with translations.
Why not just use subfolders ?

Another thing:
IMO code (and comments) should always be in english. There's nothing more horrible than code like this:

[code]

Well, mutations like "class Brücke {}" c

[2015-05-20 01:49] davispeixoto commented on #134
How are the [PHP The Right Way](http://www.phptherightway.com/) folks doing?

I really liked the translations idea (I can even help with brazilian portuguese translation too as I'm a native speaker), but I also think we would follow some pattern that is working for another great projects and initiatives.

Empower the community is always a great thing.

[2015-05-20 01:54] nueckman commented on #134
The translations on PHP The Right Way are forked repositories. It's possible, but spreading the code/documentation across multiple repositories/forks is kind of annoying.

[2015-05-20 02:02] davispeixoto commented on #134
Yeap, just took a look into it.
They do forking and create a gh-page in each fork/translation, them they are linked back from the main project.

Not sure if this is really the better approach. It would be awesome (IMHO) if :
- We keep the credits to people who make the translations (accept only pull requests?)
- It is centralized repo with branches
- The distribution site (currently [readthedocs](

[2015-05-20 03:13] leleonam commented on #134
Hey everybody,

I'm contributing to https://github.com/vhf/free-programming-books. Here we have a list of markdowns which is a translation from english.

[2015-05-20 06:50] domnikl commented on #134
I am with @davispeixoto, it should be all in a centralized repository, that makes fixing translations and in general contributing to them much easier IMO. And of course PR are a good thing too. I don't know if we should use branches or subfolders and I think this depends on readthedocs.org (I don't think we should use gh-pages as this would be another platform we have to support).

@shangguokan wh

[2015-05-20 08:13] shangguokan commented on #134
@domnikl i will try to add another language on read the docs, and tell your the results after.

[2015-05-20 11:37] leleonam commented on #134
I found this https://docs.readthedocs.org/en/latest/localization.html#localization-of-documentation on the RTD website. I think we'll need a repo for each translation. Am I right?

[2015-05-21 11:42] domnikl commented on #134
I found this https://github.com/rtfd/readthedocs.org/issues/4, so we can use branches for the translations. There needs to be a project on RTD for every translations but multiple projects for the same repositories are possible and the branch can be configured in the advanced settings of a project.

[2015-05-21 11:52] leleonam commented on #134
Use branches for translations, sounds good, to me. And you guys?

[2015-05-21 12:19] shangguokan commented on #134
Two ways:
First, for every translation (fr, zh...), we need to fork and create one repo of github and one project of RTD (designpatternsphp, designpatternsphp-fr, designpatternsphp-zh...), and create connection on these projects.

Second, sphinx doc can load .po/.mo translation files to finish translation job, so we don't need to create any branch of translation or repo of translation, just add tr

[2015-05-28 11:26] torrentalle commented on #134
I can start with spanish and catalan translations, my natural languages

[2015-05-28 14:00] domnikl commented on #134
@torrentalle :+1:

[2015-05-28 14:17] leleonam commented on #134
So, how we'll working on translations? We'll use branches or repos for each translation?

:)

[2015-05-28 14:25] shangguokan commented on #134
sorry i was a litte busy, we don't need any repo and any branch to do translation, i will create po translation files on the main repo main branch. whitch language? portuguese? you can find directory named _locale/pt_BR or _locale/pt_PT
pt_BR – Brazilian Portuguese
pt_PT – European Portuguese
which one?

[2015-05-28 14:32] leleonam commented on #134
@shangguokan, no problems! I can help to translate for Brazilian Portuguese. Spanish, maybe. :)

[2015-05-28 14:42] bgsouza commented on #134
Hi @shangguokan

I am a friend of @leleonam.
I'm ready to help! :-)

[2015-05-28 17:24] shangguokan commented on #134
I have already add po translations files, you can find them in [locale](https://github.com/domnikl/DesignPatternsPHP/tree/master/locale)
ca – Catalan
es – Spanish
pt_BR – Brazilian Portuguese

you can take poedit or any other text editor to add your translation string, and make a PR!

[2015-05-28 21:51] KIVagant commented on #134
Hello.

Please, add folders for the Russian language. I can help to translate.

[2015-05-28 22:15] shangguokan commented on #134
Hi, thank you~, it is added in the locale folder
ru – Russian

[2015-05-28 22:18] KIVagant commented on #134
Thank you.  I'll do it when I will take a break from the my project.

[2015-05-29 03:22] davispeixoto commented on #134
Just for cultural information, Portuguese currently is the [sixth most spoken language](http://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers#Nationalencyklopedin), with 215 million people as first language, and 262 million as first or second language.

Brazil has 200 million people, thus pt-br is the way to go with translations for portuguese.

[2015-05-29 03:54] su-xiaolin commented on #134
@shangguokan
Hello.

Please, add folders for the zh_CN language. I can help to translate.

[2015-05-29 11:05] torrentalle commented on #134
It's possible to add the localized wikipedia links in po files?

[2015-05-29 11:21] leleonam commented on #134
Guys,

I have to say that I'm proud. It's good to know that you liked the idea. Let's share knowledge! thank u guys! :)

[2015-05-29 12:45] shangguokan commented on #134
[important] Before your start, re-fork this project or synchronize your repo with upstream!
### Translation Rule/Hint
1. All po files were generated by all README.rst, Only them (explication of patterns) will be translated, Code and comments should be in english and not change.
2. Word for Word translation is not needed, you can add your own explication to make translation much easy to understand.

[2015-05-29 17:09] KIVagant commented on #134
Does it mean, than we should not change titles or we can change title to something like that?:

[code]

[2015-05-29 17:35] shangguokan commented on #134
no, just translate all titles to russian, do not add any other things on the title, il will break the index of generated pdf.

#: ../../Behavioral/ChainOfResponsibilities/README.rst:2
msgid "`Chain Of Responsibilities`__"
msgstr "`Цепочка обязанностей`__"

it means only text is changed to Цепочка обязанностей, but link is always on english version wikipedia. we can choose russian in wikipedia page

[2015-05-29 19:56] KIVagant commented on #134
What you plan to do, when some english phrases will changed? Replace it msgid inside all translations?

[2015-05-29 20:34] shangguokan commented on #134
if it is just a small change, it's unnecessary to update all translations. the object of READMEs and translations are explain patterns.
if we add a big and important part in english README, there is a command to automatic update all translations by replace or add msgid in po files

[2015-05-30 11:36] KIVagant commented on #134
I have to go back to the question about translating of titles. I need a way to present the localization of both versions: the English and the local. Because many programmers know the name of the template in the original version. Translations can be very different in different sources, which causes confusion.
It is necessary, that contents of the documentation should not be corrupted. For example,

[2015-05-30 11:51] shangguokan commented on #134
[code]

[2015-05-30 11:55] KIVagant commented on #134
Unfortunatelly, by this way will broke TOC.
Can we add new line after title?
[code]

[2015-05-30 12:38] shangguokan commented on #134
i'm sure this will not break TOC tree, i have test
u can use this
[code]

[2015-05-30 12:40] KIVagant commented on #134
Ok, if it's looks nice, then I will use this form.

[2015-05-30 18:02] shangguokan commented on #134
@torrentalle @KIVagant
Sorry about what i said on the title, it's ok to add link on the title. please check the "Translation Rule/Hint" section "title".

[2015-06-01 22:26] KIVagant opened #142 "Memento"
What do you think about [this proposal](https://github.com/KIVagant/DesignPatternsPHP/commit/0ebafc5eaaac9ded775807321cec66ceea3f3b97#diff-7f8f4353bef929752dc289a3d9e9bb8cR15)?

I reworked the implementation of the pattern so now it has practical usage within php (because on many sites this pattern have amorphous representation, divorced from reality).

[2015-06-01 23:06] KIVagant commented on #134
Ru: finished (except Memento, in separate PR)

[2015-06-01 23:10] KIVagant commented on #134
Suggestion: [add links](http://designpatternsphp.readthedocs.org/en/latest/) to all available languages in header. Ideally, each page should have link to the appropriate page in other languages.

[2015-06-01 23:12] shangguokan commented on #134
i think now it's 02:12 in Russia

[2015-06-02 11:04] leleonam commented on #134
Hey guys, I'm so sorry. I couldn't translate anything yet because I'm very busy but I promiss that we'll have a PR for portuguese next weekend

[2015-06-02 11:28] shangguokan commented on #134
it's ok :smile: i'm also very busy

[2015-06-02 11:52] KIVagant commented on #134
@leleonam, there is no deadline

[2015-07-14 10:43] bocharsky-bw opened #155 "Could we add entity-attribute-value (EAV) pattern?"
Does [EAV](https://en.wikipedia.org/wiki/Entity%E2%80%93attribute%E2%80%93value_model) pattern suitable for this repo? What do you think, guys?

[2015-07-20 11:36] dupuchba commented on #155
Great idea IMO :-). Who does have time to do it ?

[2015-07-20 12:11] bocharsky-bw commented on #155
I could have a time if most think this is a good idea

[2015-07-20 14:47] dupuchba commented on #155
:+1:

[2015-08-15 10:27] eddiejaoude commented on #114
As this is now done, I am going to close this ticket. Great work all involved :+1:

[2015-08-15 10:27] #114 closed

[2015-08-15 10:36] eddiejaoude opened #167 "Updating examples to use PHP7 strict mode?"
Types become really important here and interesting.

PR: https://github.com/domnikl/DesignPatternsPHP/pull/169
Fork: https://github.com/eddiejaoude/DesignPatternsPHP

[2015-08-26 18:37] jadjoubran opened #171 "Use styleCI to automate your php linting process"
This is just a suggestion, but I'd recommend you use https://github.com/StyleCI/StyleCI/
to automate your php linting process that is described in your readme.md

It's free for open source, and you'll get the github health API integration ;)

This is an example:
https://github.com/jadjoubran/laravel5-angular-material-starter/pull/23

[2015-09-08 22:00] ghost opened #175 "Adding examples"
Even if most patterns are self-explaining we should provide usage examples. Any thoughts?

[2015-09-09 00:35] xiangweilee commented on #175
Perhaps you can see usage examples inside test folder?

[2015-09-09 05:35] domnikl commented on #175
Yes, the tests are the usage examples. If the tests are not clear enough, we should fix it and not provide other examples.

[2015-09-09 11:03] nueckman commented on #175
IMO tests can't be examples per definition. Especially not unit tests which are build to verify the functionality of most atomic units. But i think it depends on the purpose of this repository. Do you want to show PHP devs how to use a known pattern in PHP or do you want to explain the usage of patterns too.

[2015-09-24 09:03] thehamsterofgod commented on #175
:+1:

I agree with @nueckman, and probably code that shows the simplest but best real world usage scenario, it would really be helpful for beginners. Thank you for this repo it really helped me alot. :smile: 7

[2015-09-25 13:00] pjurasek opened #181 "VehicleInterface don't found anywhere in the builder pattern"
In the builder pattern in Vehicle.php I found line:
"VehicleInterface is a contract for a vehicle" - but don't see any Vehicle Interface anywhere. So the code is missing? what is wrong with this code? Thanks.
I feel a bit confused about it.

[2015-09-26 14:16] ganesh-patil commented on #175
Hi All,
'I am interested to work on design patterns. shall  I start adding examples of design patterns?can you please explain which directory structure we are going to follow ?

Thanks.

[2015-10-29 15:30] #142 closed

[2015-11-15 02:36] wozzup opened #186 "phpunit There was 1 error: Argument 1 passed to AbstractFactoryTest::testComponentCreation() must be an instance of AbstractFactory, none given"
hey, guys, please take a look, what happened this error:

[code]

do i need to composer autoload `"squizlabs/php_codesniffer": "1.5.*"` to get phpunit work?

[2015-11-18 06:44] domnikl commented on #186
Hi @wozzup,

CodeSniffer has nothing to do with phpunit and is not required to run the tests. Please provide some more information so we can help you:

* which version of DesignPatternsPHP are you testing against?
* maybe you could post the complete contents of `Creational\AbstractFactory\Tests\AbstractFactoryTest`

Also the current version of PHPUnit is 5.0 and you should always use the latest ve

[2015-11-29 06:37] wozzup commented on #186
awesome! fixed

[2015-11-29 06:37] #186 closed

[2015-11-30 15:33] doidd commented on #175
### You can see simple my example (require install composer):
__Step 1:__ Create file index.php in root folder (my example __dpp__)
__Step 2:__ Wire content with code below
[code]
__Step 3:__ go to browser enter url host (__localhost/dpp__)  and see that

[2015-11-30 15:56] ganesh-patil commented on #175
Thanks,

Will follow above structure and will add examples of another design patterns.

Thanks

[2015-11-30 17:02] domnikl commented on #175
:-1:

Please don't do that. Here's why:

[code]

This is bad practice. PHP Settings should not be in example code!

[code]

This is exactly what happens in the unit test here: https://github.com/domnikl/DesignPatternsPHP/blob/master/Structural/DependencyInjection/Tests/DependencyInjectionTest.php#L21

Adding example code leads to exactly the usage of this repository that I want to prevent. Users c

[2015-12-01 03:36] ganesh-patil commented on #175
Ok, Thanks.

[2015-12-05 15:05] 20uf commented on #175
+1

[2015-12-09 13:20] tonicospinelli opened #190 "design patterns for real projects"
hey dudes, some days ago I was reading codes from this repo I have an idea. Would be nice to have some libraries with abstract implementation of Design Patterns so I can use in real project!

What it means?
Something like PSRs and we could create a organization with some repositories to provide the way to implement one specific pattern

Look like, create a abstract structure to someone implement a

[2015-12-12 22:24] marius-rizac opened #193 "Create a coding standard for this documentation"
This is a very good repository to explain Design Patterns in PHP but I think it would be better to have a coding standard for it.

Some examples:

[code]

Is not necessary to add `@abstract` in docblock for a method declared abstract. It can be seen from method's declaration itself.
[code]

The list can continue and I believe it could add a lot of improvements to the examples.

[2015-12-13 08:39] cirpo commented on #193
what about using PSR-2 and the php-cs-fixer tool? There is even a free online service: https://styleci.io/

[2015-12-13 11:43] spekulatius commented on #193
Agree. There are plenty of free options for code quality tool out there.

[2015-12-17 00:55] vienmar commented on #193
I like @cirpo's suggestion [https://styleci.io/]

[2015-12-18 09:15] HassanAlthaf commented on #190
The purpose of this repository is to teach users how to implement generally used design patterns in real world scenarios. These are in general, and not language specific. Neither are they anyones creation. Therefore, an organisation is not necessary to be setup to enforce this. It is not necessary to enforce these, as they are already practiced.

[2015-12-18 09:19] domnikl commented on #190
@HassanAlthaf +1

[2015-12-18 09:22] 20uf commented on #190
@HassanAlthaf +1

[2015-12-18 09:22] HassanAlthaf commented on #190
@domnikl I suggest closing this issue.

[2015-12-18 10:26] #190 closed

[2015-12-18 10:34] domnikl commented on #193
As a quick test, I enabled styleci.io: https://styleci.io/repos/2246815
Will have a deeper look at it over the next week

[2015-12-18 10:36] marius-rizac commented on #193
:+1:

[2016-01-16 13:31] andrewnester commented on #181
Hi @pjurasek
You are right, there is no VehicleInterface, only Vehicle abstract class
I've made PR to fix this

[2016-01-16 13:32] andrewnester commented on #171
I guess this one is already used for this repository, am I right @domnikl ?

[2016-01-16 13:34] andrewnester commented on #155
I guess this one could be closed, right? @domnikl

[2016-01-16 14:09] andrewnester commented on #88
Hi @domnikl and @marcusesa
I've just made PR for command undo action, could you please check it?

[2016-01-16 14:15] andrewnester commented on #89
SimpleFactory + 1

[2016-01-16 14:24] andrewnester commented on #89
I've just made PR to change ConcreteFactory name to SimpleFactory

[2016-01-16 20:14] bocharsky-bw commented on #155
Indeed, thanks @andrewnester !

[2016-01-16 20:14] #155 closed

[2016-01-19 22:59] #181 closed

[2016-01-19 23:06] #89 closed

[2016-01-20 05:40] domnikl commented on #171
@andrewnester right, I added it just recently, closing this.

[2016-01-20 05:40] #171 closed

[2016-01-20 15:34] domnikl commented on #88
@andrewnester looks good to me, I will merge it :+1:

[2016-01-20 15:34] #88 closed

[2016-01-20 15:35] domnikl commented on #193
styleci is now used, so I am closing this issue.

[2016-01-20 15:35] #193 closed

[2016-03-23 13:27] akmorp opened #209 "MVC"
Not enough MVC pattern.

[2016-03-23 13:39] mCzolko commented on #209
MVC is not a pattern but an ideology.

[2016-03-23 14:53] akmorp commented on #209
Ok. I would like to see the implementation of this ideology in this repository.

[2016-03-23 15:10] hgraca commented on #209
Its actually and Architectural Pattern, so its about the application structure in broader strokes, its aimed at solving higher level problems than the design patterns in this repository.
https://basicsofwebdevelopment.files.wordpress.com/2015/01/mvc_role_diagram.png

Nevertheless, it could indeed be implemented here in a basic form.

[2016-03-23 18:32] domnikl commented on #209
As @hgraca already said, it is an architectural pattern and is therefore not related to design patterns in this repository. I'd like to keep archtictural patterns out from here, because that would be just too much stuff. How about you start a repo for architectural patterns @akmorp?

[2016-03-23 18:32] #209 closed

[2016-05-26 22:36] ihor opened #215 "Specification pattern issues"
Hey guys,

What do you think about changing ```Specification``` pattern example? At the moment it has the following issues:

1. ```Specification``` interface contains ```plus```, ```either``` and ```not ```methods which put on ```Specification``` object redundant responsibilities. Instead of checking if some certain condition is satisfied it is also responsible for creating new specifications. Thi

[2016-05-27 20:10] michaelachrisco opened #216 "Presenter Pattern"
How do you feel about adding the Presenter Pattern to this repo? Its similar to the Decorator pattern, but has some key differences. Decorators add new functionality to class instances, whereas Presenters are closer to the view and work directly with the view layer and may contain the language of the view (html/css/etc..). It also contains the ui business logic for the View.

Example code:
[code]

[2016-05-27 21:04] ihor commented on #216
For something to be a pattern according to Wikipedia it has "strictly described and commonly available". But even these few links you shared don't have the strict and common description of the Presenter.

This is because the Presenter is a just one of the components of the MVP architecture which only defines the communication flow between its three key components. There is no concrete implementati

[2016-05-27 21:13] ihor commented on #216
I think I wrote too much above, which created more than enough space for arguing. To make it shorter and simpler, the idea of adding Presenter pattern is the same as the idea of adding separate Model or View patterns.

[2016-05-27 21:19] michaelachrisco commented on #216
You are correct, there seems to be multiple implementations to this pattern that differ depending on the use-case(framework/language/etc..). Also the MVC/MVP patterns are probably too big to be discussed within a repo such as this. At that point, looking at frameworks would be a good start. Ill keep the issue open, as the MVP pattern is something worth thinking about.

Ill have to give this more t

[2016-05-27 21:23] ihor commented on #216
Rule of thumb: when in doubt, check with Martin Fowler :)

[2016-05-27 21:33] michaelachrisco commented on #216
Following that link you gave me, it seems there is an example of a presenter model http://martinfowler.com/eaaDev/PresentationModel.html

"The essence of a Presentation Model is of a fully self-contained class that represents all the data and behavior of the UI window, but without any of the controls used to render that UI on the screen. A view then simply projects the state of the presentation mo

[2016-05-27 21:52] ihor commented on #216
It's a different thing but it helps to achieve one of the goals which MVP provides, which is decoupling the view and the model.

[2016-06-01 19:36] KIVagant opened #218 "Russian documentation looks outdated"
Hello to all.

I can help to translate some new patterns for RU locale:  ```More/EAV``` and ```Structural/Flyweight```
And, as I can imagine, EN documentation should be changed from Sep 8 2015 when I sent last PR with translation.

So, maybe some *.po files in RU locale is now outdated too. Can you check this?

UP: JFYI, [here is broken](https://github.com/domnikl/DesignPatternsPHP/tree/master/Str

[2016-06-03 23:42] shangguokan commented on #218
HI, KIVagent
I just review all changes between [2015/06/01 - 2016/06/03](https://github.com/domnikl/DesignPatternsPHP/compare/master@%7B2015-06-01%7D...master)
And [updated](https://github.com/domnikl/DesignPatternsPHP/commit/557ac019b13d61a6641266c8928d75f8c8b2fc9a) all po files, I hope all problems have been sloved

Here is the todo list, these patterns should be translated or re-translated, che

[2016-06-03 23:46] shangguokan commented on #134
UPDATE [2015/06/01 -> 2016/06/03](https://github.com/domnikl/DesignPatternsPHP/compare/master@%7B2015-06-01%7D...master)
[Commit](https://github.com/domnikl/DesignPatternsPHP/commit/557ac019b13d61a6641266c8928d75f8c8b2fc9a)
Here is the todo list, these patterns need to be **translated** or **retranslated**, check relevant .po files

- Behavioral/Memento/README.rst

- More/Delegation/README.rst

-

[2016-06-04 14:50] KIVagant commented on #218
Ok, I'll try to do this later.

[2016-06-08 16:11] peyman-mohamadpour opened #219 "Text idi not implement MediaInterface's render method in AbstractFactory"
Text  did not implement MediaInterface's render method in AbstractFactory

[2016-06-24 22:55] michaelachrisco commented on #216
Closing this issue until a more definite presenter pattern can be ascertained.

[2016-06-24 22:55] #216 closed

[2016-08-15 07:47] zplzpl opened #225 "how to get class UML Diagram?"
I use phpstorm develop;

can you tell me ,how to get classes UML diagram?

[2016-08-16 07:11] bocharsky-bw commented on #225
UML diagrams in this repo are generated by PhpStorm. Check [this docs](https://confluence.jetbrains.com/display/PhpStorm/Working+with+UML+class+diagrams).

[2016-08-31 02:52] godtail opened #227 "The UML image for 2.9 Flyweight is gone away."
![2016-08-31 10 51 42](https://cloud.githubusercontent.com/assets/18417644/18114332/ef599480-6f68-11e6-9fc8-934fe66bcc1c.png)

[2016-09-01 10:45] NikitaStrelkov commented on #227
Add diagrams and create PR #229

[2016-09-01 11:59] NikitaStrelkov commented on #218
@shangguokan, it seems to me that after applying this #228 RP Russian documentation is up-to-date. So this issue may be closed

[2016-09-01 12:01] #218 closed

[2016-09-05 06:42] domnikl commented on #227
fixed in PR #229, thanks @NikitaStrelkov!

[2016-09-05 06:42] #227 closed

[2016-09-19 17:23] Scroph opened #232 "Iterator bug"
The following code doesn't produce the expected output :

	<?php
	require_once 'Book.php';
	require_once 'BookList.php';
	require_once 'BookListIterator.php';

	use DesignPatterns\Behavioral\Iterator\Book;
	use DesignPatterns\Behavioral\Iterator\BookList;
	use DesignPatterns\Behavioral\Iterator\BookListIterator;

	$list = new BookList();
	$list->addBook(new Book('foo', 'bar'));
	$list->addBook(new

[2016-09-19 17:57] axelitus commented on #232
Indeed it does not work for the reasons you state. In my opinion this code serves the purpose of merely giving you an example of how this would be implemented and thus lacks many things you would do in production. This examples are just a starting point, not a solution for every problem nor a complete implementation of production-ready code.

Having said that, in my opinion there's nothing wrong w

[2016-09-19 18:28] axelitus commented on #175
I agree with @domnikl, the documentation (explanation text) + pattern application (code + UML diagram) and tests should be enough to explain how the pattern works (if it's not then something must be changed in order to fulfill this).

The repo should not have every example of every implementation known to man, because real world usage scenarios are _infinte_. The purpose should not be to solve a s

[2016-09-19 18:32] axelitus commented on #167
I think the question here should be: ¿should the code be upgraded to PHP7 and drop support for older versions?

I definetely vote for it, though not everybody is using PHP7 yet. I think the new features introduce in PHP7 should be harness.

[2016-09-19 21:02] a-komarev commented on #167
Maybe it will be good to have support branch with old PHP version then?

[2016-09-19 23:06] Scroph commented on #232
Maybe the bug I pointed out is beyond the scope of this tutorial. The solution I intended to suggest in the OP makes use of the IteratorIterator class. My plan was to make BookList extend IteratorIterator so that it inherits the methods that will make it compatible with foreach loops. I would then pass it the $bookList array in BookLists' constructor and make BookList implement Iterator. But then

[2016-09-20 00:33] axelitus commented on #232
I think you may have pinpointed the main struggle here: the purpose of this repo, as I understand, is to be educational. And in that sense the examples and code given clearly teach the patterns and give a basic example of how one can use them. For that matter leaving the code as simple as possible containing only the code needed for the pattern to be implemented is important.

There's a related di

[2016-09-21 11:57] domnikl commented on #175
I will close this now, I think we got a consesus here and @axelitus has just summed it up perfectly!

[2016-09-21 11:57] #175 closed

[2016-09-21 12:00] domnikl commented on #232
While I agree with @axelitus in that this is just an educational resource to learn the patterns I too would love to have only bug-free examples in it. I just started working on a solution and the code needs some cleanup and more documentation, too. Also I no longer think the getBook() method in BookList is a good idea (using internal IDs to get books from outside?) + the reverse iterator makes no

[2016-09-21 12:03] domnikl commented on #219
@peyman-mohamadpour Text is an abstract class and therefor does not implement `render()`, but all the concrete implementations do, like eg. `Html\Text` implement `render()`.

[2016-09-21 12:03] #219 closed

[2016-09-21 12:05] #47 closed

[2016-09-21 12:12] domnikl commented on #167
I know you would all love to see PHP7 features in here. I do so myself. Support for 5.6 will last till the end of the year (http://php.net/supported-versions.php) so I think we should just start and have it ready in early 2017. @eddiejaoude are you still working on the mentioned PR? It seems to have conflicts and can't be merged. If not I would start working on PHP7 feature use and merge if it is

[2016-09-21 12:20] eddiejaoude commented on #167
I have not looked at this in a while as it didn't have any comments for over a year. I am sure the fork I did mid last year is out of date by now.

[2016-09-21 12:43] domnikl commented on #232
Got a PR for it. What do you think about it @Scroph?

[2016-09-21 12:54] domnikl commented on #167
@eddiejaoude sorry to let you wait for so long. I'll have a look into it, thanks!

[2016-09-21 13:25] domnikl commented on #215
@ihor sounds good, can you prepare a PR for it? Sorry for the late feedback!

[2016-09-21 13:26] domnikl commented on #134
Is someone working on the missing translations for ES? Unfortunately I do not speak spanish. Would love to merge a PR for it so we can close this issue. Thank you all for the already translated languages!

[2016-09-21 17:43] axelitus commented on #134
I did start yesterday doing a translation for es_MX. I did however decided to start doing a POT template first so that new translations would be easy to begin. It's going somewhat slow because right now at work we are doing budgets for next year so you know how that goes...

Also I think translations should be versioned with the commit they are working with. Any thoughts about this? This way it's

[2016-09-21 17:54] axelitus commented on #232
At fist glance it seems this works, though in my opinion it's overkill to call array_keys on each Iterator function. I know the point is not to show the most polished code ever created and adding more code would probably take focus away from the main subject, so I'm ok with this new re-factoring and hopefully it will be understood that this is not the most efficient way to do it.

[2016-09-21 22:05] Scroph commented on #232
That's an clever way to solve it ! I see you also added some PHP7 features, which is pretty good. But what do you think about @axelitus's method of reindexing the array after the removal ? Something like this for example :

    public function removeBook(Book $bookToRemove)
    {
        foreach ($this->books as $key => $book) {
            /** @var Book $book */
            if ($book->getAuthorAn

[2016-09-22 04:45] axelitus commented on #134
I've just finished the templates for Behavioral patterns. Take a look [here](https://github.com/axelitus/DesignPatternsPHP/tree/translate-template/locale/template/LC_MESSAGES).

I did some small changes (punctuation mostly) on the RST files which may break already existing translations. But anyway I think the translation should be updated to the PO templates once they are finished anyways for the

[2016-09-22 06:50] domnikl commented on #232
You are right, I fixed it and used the solution from @axelitus with `array_values()` and initialised the $this->books instead of adding a constructor. Tests are working, is this what you meant?

[2016-09-22 07:59] Ganganation opened #234 "Composite pattern, why use abstract FormElement?"
Hi domnikl,

Awesome examples! Learning a lot, thanks.
I have a question, why does your composite pattern uses an abstract class in stead of an interface or trait?

Trait example:
[code]

Interface example
[code]

Than you can decouple the From class from the FormElement and add the RenderableTrait or RederableInterface to the Form and FormElement class.

Forgive my possible ignorance, I'm still l

[2016-09-22 10:27] domnikl commented on #215
@ihor I am already working on the Specification to refactor it to use PHP7 features and cleaning it up. So I will consider your change and implement it! I will close this issue as soon as I push all the changes to the php7 branch

[2016-09-22 14:15] axelitus commented on #232
I think this is easy to understand and correct enough for a basic example.

[2016-09-22 16:01] domnikl commented on #232
Perfect thanks for your feedback, I merged it!

[2016-09-22 16:01] #232 closed

[2016-09-22 18:39] domnikl commented on #234
Hi @Ganganation great to hear you like it! You are right, an abstract class is not necessary here and I will change it to an interface. In my experience, many not-so experienced developers are having trouble with Traits and it is also not necessary here as it does not add any functionality, therefor an interface is better suited here. I will change it in the php7 branch and notify you here once it

[2016-09-23 02:06] axelitus commented on #134
I have translated already all Behavioral and Creational patterns to es_MX.

Currently I don't have a way of testing the translation. I think I'll finish the translation tomorrow or saturday at latest.

[2016-09-23 09:21] domnikl commented on #234
Implemented it in: https://github.com/domnikl/DesignPatternsPHP/blob/master/Structural/Composite/RenderableInterface.php

[2016-09-23 09:21] #234 closed

[2016-09-23 09:22] domnikl commented on #167
Merged it just now. If I missed anything, please let me know in a new issue or PR, thanks!

[2016-09-23 09:22] #167 closed

[2016-09-23 09:22] domnikl commented on #215
Merged the php7 branch and your feedback has been incorporated, thanks for your contribution!

[2016-09-23 09:22] #215 closed

[2016-09-23 12:13] Ganganation commented on #234
@domnikl Awesome! Thanks for your explanation. I don't really understand why not-so experienced developers are having trouble with Traits, but that's a different discussion.

The UML diagram stays the same? Or will you change that in the future as well?

[2016-09-23 13:41] domnikl commented on #234
Oh forgot to change the UML, fixed now!

[2016-09-23 16:12] axelitus commented on #234
Just to add my two cents here. I agree with @domnikl about the Trait not being useful here and an interface is better suited to that from a *best practices principles* (I didn't know how else to put it 😛) point of view.

Form PHP reference:

In this example there's really no implementation, therefore IMO a trait doesn't serve any real purpose. Also an interface establishes a contract that is enfor

[2016-09-24 08:22] Ganganation commented on #234
That's one awesome explanation @axelitus, thanks! If I understand correctly. In this case the RenderableTrait would only be interesting if it would have the same render method implementation throughout all the form elements. That would never work in this example and if I understand correctly for the Composite Pattern.

Thanks again!

[2016-09-24 12:47] axelitus commented on #234
Yes, say for example you have a BookCollection and a MovieCollection and you want both classes to have some common implementation, then you could do it like so:

[code]

This way both collection share the implementation of the reverse function through the trait, and any changes in the trait's implementation would be automatically available for both collections.

The benefit is that you don't need

[2016-09-27 09:02] Ganganation commented on #234
Awesome example again! This makes it very clear. Thanks.

[2016-09-27 21:59] axelitus commented on #134
I have looked into this and I think Read the Docs doesn't allow for specific language *forms*, like es_MX. There are only a few of them in their system, like Brazilian Portuguese (pt_BR) or Simplified Chines (zh_CN).

There can only be one Spanish translation as far as I know, which will be directed to "/es/<docs>". Selection boxes are a nice way to simplify things, but they can introduce limitati

[2016-09-28 13:55] shangguokan commented on #134
This is supported languages list:
http://www.sphinx-doc.org/en/stable/config.html#confval-language

[2016-10-04 01:24] mishbah opened #242 "Design pattern for version 5.6"
I create design pattern for 5.6 https://github.com/mishbah/DesignPatternsPHP/tree/php5.6
maybe we can create another branch for 5.6

[2016-10-04 04:40] domnikl commented on #242
Why are you doing that? PHP5.6 will only be supported till the end of the year: see http://php.net/supported-versions.php. Remember that this serves an educational purpose only!

[2016-10-24 12:32] clytemnestra commented on #242
@domnikl It's a good idea so that people that haven't installed php7(like me) can still run them.

And php5.6 will still receieve security updates for 2 more years.

[2016-10-24 17:17] domnikl commented on #242
@clytemnestra you can always go back in the commit history to get a version that runs on 5.6. I could add a tag for it if that would make it easier?

[2016-10-24 18:55] clytemnestra commented on #242
There is a small problem with that as some code was added for php7 version only.

Check for instance https://github.com/domnikl/DesignPatternsPHP/commit/d151e309c5be5fde00a6120210ce7696705095e2

mishbah's version has the updated code that works for php5.6. Tests, too.

[2016-11-16 10:43] yaim commented on #134
Dear @shangguokan, please add files for the fa_IR language. I can help to translate.

[2016-11-17 14:20] floodedcodeboy commented on #242
Tags sound like a good idea... at the very least for completeness sake.

[2016-11-17 15:48] EricBusch opened #250 "What software are you using for the UML diagrams?"
What software are you using for the UML diagrams?

Thank you for this resource! It's awesome!!!!

[2016-11-17 20:22] domnikl commented on #250
The UML diagrams are generated by PHPStorm and exported to SVG and PNG.
You are welcome, glad you like it :)

[2016-11-17 20:22] #250 closed

[2016-11-17 20:25] EricBusch commented on #250
Thanks! :)

[2016-11-28 21:58] 0x13a opened #251 "isn't Service Locator known as anti-pattern?"
isn't Service Locator formerly known as anti-pattern ?
Service Locator is an Anti-Pattern since it hides class' dependencies causing issues when you change dependencies, since they are not directly exposed out of the class.

What do you think @domnikl ? :)

[2016-11-29 06:19] domnikl commented on #251
I like it and would be happy to merge a PR marking Service Locator as an anti-pattern 👍

[2016-12-13 01:18] sbobrov85 opened #253 "Invalid UML diagram for Creational/Pool?"
It seems to me that the UML diagram for Creational/Pool a mistake because the source code is not contain Processor class and  run method for Worked does not match.
Possibly previously used different source code for example?

[2016-12-13 12:54] undercloud opened #254 "Final Class"
https://github.com/domnikl/DesignPatternsPHP/blob/master/Creational/Multiton/Multiton.php
`final class Multiton { ... }` missed or omitted? In Singleton it exists? what difference?

[2016-12-20 08:25] domnikl commented on #254
There is no difference, you could add final to Multiton if you want and send me a PR :)

[2016-12-20 09:18] AngeIII commented on #254
I think the final is not needed because we probably can use it via extends, but if final will be used it will cause fatal error:
` Class ChildClass may not inherit from final class (Multiton)`

[2016-12-23 14:45] rodion-arr commented on #253
Same with FactoryMethod and CarMercedes class which is not present on the diagram

[2016-12-27 07:09] domnikl commented on #253
Updated both UML diagrams in 35f5e85 and bd3c2cf, thanks!

[2016-12-27 07:09] #253 closed

[2016-12-27 07:09] domnikl commented on #251
closing here as the PR has been merged

[2016-12-27 07:09] #251 closed

[2016-12-28 03:36] phoenixg opened #257 "How is the UML samples draw by yFile?"

[2016-12-28 05:29] domnikl commented on #257
What do you mean? I use PhpStorm to generate the UML diagrams if thats what your question is.

[2016-12-29 06:40] LightAir opened #258 "Unsupported parameter for module: autoremove"
Error when deploying vagrand.

[code]

[2016-12-29 07:28] NikitaStrelkov commented on #258
@LightAir What version of Ansible do you use? This parameter [was added in 2.1](http://docs.ansible.com/ansible/apt_module.html), maybe you should update Ansible?

[2016-12-29 08:03] LightAir commented on #258
@NikitaStrelkov I don't know. I just run `vagrant up`. I understand that the ansible installed later.

[2016-12-29 08:07] NikitaStrelkov commented on #258
@LightAir, Do you use Windows?

[2016-12-29 08:12] LightAir commented on #258
@NikitaStrelkov no. I use archlinux.

[2016-12-29 08:19] NikitaStrelkov commented on #258
@LightAir, So you don't have ansible installed locally on your archlinux and you just run `vagrant up` and get this error, am I right?

[2016-12-29 08:23] LightAir commented on #258
Oh. Sry. I thought that there is an web interface... In this case enough `composer install`

[2016-12-29 08:23] #258 closed

[2016-12-30 03:25] phoenixg commented on #257
@domnikl So PhpStorm can generate PHP to UML diagrams, could you tell me how to do that please?

[2016-12-30 09:52] phoenixg commented on #257
Find this: https://confluence.jetbrains.com/display/PhpStorm/Working+with+UML+class+diagrams

Thank you!

[2016-12-30 10:21] #257 closed

[2017-01-02 15:24] malukenho commented on #257
@phoenixg https://confluence.jetbrains.com/display/PhpStorm/Working+with+UML+class+diagrams

[2017-01-02 20:24] geekcom commented on #257
Great tip, thx @phoenixg

[2017-01-07 03:41] jpher opened #261 "update"
UML Diagram of Adapter is not updated

[2017-01-10 07:17] domnikl commented on #261
updated in b43ed2c, thanks!

[2017-01-10 07:17] #261 closed

[2017-02-14 22:23] mcampbell508 opened #264 "Composite pattern: Suggestion to add a note about nested forms in test"
I have noticed the following in `Structural/Composite/Tests/CompositeTest.php`.

Even though the following test demonstrates the example for this pattern well, technically you cannot nest html forms, that I know of. https://www.w3.org/TR/html5/forms.html#the-form-element

[code]

Maybe there could be some notes added as part of the doc block for the test, or an inline comment - something along the

[2017-02-16 08:23] domnikl commented on #264
@mcampbell508 looks good, please go on and create a PR I would be happy to merge it in!

[2017-02-17 20:02] mcampbell508 opened #265 "Suggestion: add searchable topics to project"
Now that GitHub has introduced its [topic feature](https://help.github.com/articles/about-topics/) to make projects more searchable; I think it would really help others like me who didn't know about this fantastic project, to add (at least) the following topics:

- design patterns
- design-pattern
- oop
- modern-php
- code-examples
- phpunit

These are just suggestions for you to take on board if

[2017-02-22 07:23] domnikl commented on #265
Thanks for pointing this out! I must have missed it. I added most of your suggestions but "design patterns" is not possible, because it contains a space. I added designpatternsphp instead.
Thank you!

[2017-02-22 07:23] #265 closed

[2017-02-22 07:25] #264 closed

[2017-02-22 23:28] adayth opened #267 "RendererDecorator class should implement RenderableInterface"
RendererDecorator.php has this comment but it dosen't implements the interface.

[code]

[2017-03-01 20:33] Torpedr opened #268 "Add real examples for each design pattern"
Hi, I have a more general suggestion to add a real example problem that every design pattern solves.

The examples only tell us where this particular pattern has been used but don't actually help a beginner to decide _when_ to use them.

For instance, strategy pattern may solve the following problems:
 - sorting,
 - input data validation,
 - types of file encoding,
 and so on.

Thanks :)

[2017-03-01 22:09] ihor commented on #268
I'm not the maintainer of this repo but I'll say something you can hear from many experienced programmers.

Rule of thumb – if you are not sure whether to use a pattern, then don't :) Patterns won't make your code better. They are just ideas how you can solve some common problems.

The main problem is that patterns don't (in some cases just badly) explain why this solution is better than other sol

[2017-03-01 22:13] ihor commented on #254
The current implementation won't work with inheritance since it uses ```self```.

[2017-03-01 23:48] ihor commented on #267
Funny thing that in my GoF book there is a mention that another name for ```Decorator``` is ```Wrapper``` :)

Anyway, I think forcing the interface is a useful thing but PHP allows us to simplify ```Decorator``` implementation in a case which is not present in this repo. Current implementation shows only one limited use case of ```Decorator``` pattern and is not showing the all fun stuff you can d

[2017-03-02 07:29] AngeIII commented on #254
@ihor yep you're right, better to use Trait there..

[2017-03-02 23:11] adayth commented on #267
Sounds interesting to me @ihor maybe you can do something fast in a gist, as example.
Homever, PHP magic methods generally are considered a bad practice, so I think that the implementation could be more clean without them.

[2017-03-03 01:16] ihor commented on #267
It is a trade-off: benefits of using an interface on one side and simpler implementation on another.

Nobody complains about using magic methods in ```Proxy``` pattern implementation in PHP. As well as nobody complains about using magic methods in Python. It is a powerful concept which allows us to have write simpler code when used appropriately.

I'll think about some nice example which would mak

[2017-03-06 19:19] adayth commented on #267
The second example (the github link) seems good to me.

[2017-03-09 18:25] domnikl commented on #268
@Torpedr like @ihor said: it won't help to list real-world examples here, because each problem is unique and there is no common problem -> pattern mapping. There are always multiple solutions to a problem.

Unfortunately, there is no fast path to software architecture for beginners.

[2017-03-09 18:25] #268 closed

[2017-03-09 18:38] domnikl commented on #254
I added `final` to Multiton. You shouldn't extend from a Multiton and you shouldn't use Multiton at all. It introduces global state in your code and is a therefor an anti pattern.

[2017-03-09 18:38] #254 closed

[2017-03-09 18:49] domnikl commented on #267
@ihor I agree, but could we not just extend the example and let `RendererDecorator` implement `RenderableInterface` and add some additional behavior to `JsonRenderer` like a method `formatOutput()`? Anyway, whenever you got some time, send me a PR and I will have a look.

[2017-03-09 18:55] domnikl commented on #242
@mishbah if you want you can send me a PR for your PHP5.6 branch and I can set a tag on it. But I am closing here now.

[2017-03-09 18:55] #242 closed

[2017-03-09 19:33] ihor commented on #267
@domnikl sure, it should implement an interface in this example.

[2017-04-04 12:02] andrewnester commented on #267
Hi @domnikl @ihor @adayth !
I've just added PR to fix this issue.

[2017-04-10 10:06] mehranhadidi opened #279 "issue on testing AbstractFactory"
i did the same AbstractFactory. actually i rewrite it. the only thing is difference between my code & the samples is about: HtmlText and JsonText constructor classes. here is my HtmlText

[code]

and this is my test

[code]

when i run the code the string is null but everything is ok. can you help me please

[2017-04-10 17:19] Hyunk3l commented on #279
When you create a new instance of a class, constructor is called but cannot have a return value.
[code]

but class Text is already doing it.

[2017-04-11 05:47] #279 closed

[2017-04-12 11:53] mehranhadidi commented on #279
@Hyunk3l thanks for reply. i change my HtmlText class to the way you showed me still getting but its not going to work. can u please check the my code? i really cant get it to work.

https://github.com/mehranhadidi/php-design-patterns/

[2017-04-16 17:14] Hyunk3l commented on #279
hello @mehranhadidi
post here the error please

[2017-04-25 08:19] mikkitiger opened #282 "Provided only partial implementation of Strategy pattern"
Compare provided code with this:
[https://sourcemaking.com/design_patterns/strategy/php](https://sourcemaking.com/design_patterns/strategy/php)

Main reason of strategy pattern is to make a decision  - choose appropriate processing method based on some informations. This is made by StrategyContext.
In your implementation this functionality is not existing.

[2017-04-26 22:51] ko22009 opened #283 "State Pattern violate Liskov Substitution Principle"
https://github.com/domnikl/DesignPatternsPHP/blob/master/Behavioral/State/ShippingOrder.php#L22
https://github.com/domnikl/DesignPatternsPHP/blob/master/Behavioral/State/CreateOrder.php#L28

Refactoring code to create interfaces which is seperate completeOrder and shipOrder.

Maybe will be useful https://softwareengineering.stackexchange.com/questions/181922/does-the-state-pattern-violate-liskov-s

[2017-04-26 23:11] ko22009 opened #284 "State Pattern is not contain OrderController"
UML-diagram is not correctly.

[2017-04-27 04:51] ko22009 commented on #283
#285

[2017-04-27 04:53] ko22009 commented on #284
#285

[2017-04-27 04:56] ko22009 commented on #283
#285

[2017-04-27 05:00] ko22009 commented on #284
#ad163dc35382b8d69ca033e4b67591e32d81c8bf

[2017-04-27 05:01] ko22009 commented on #283
ad163dc35382b8d69ca033e4b67591e32d81c8bf

[2017-05-08 12:33] piotrgradzinski commented on #134
Hi guys!
I can help with the polish translation, so can you create files for pl language? If there is other way how this can be done please give me note. Thanks!

[2017-05-10 12:15] domnikl commented on #282
You are free to change the code and send me a PR, I would be happy to merge it! :)

[2017-05-10 14:33] ko22009 commented on #283
#285

[2017-05-10 14:33] #283 closed

[2017-05-10 14:33] ko22009 commented on #284
#285

[2017-05-10 14:33] #284 closed

[2017-05-10 14:43] ko22009 opened #286 "State Pattern. Shipping shouldn't have constructor?"
What are you think about it?
https://github.com/domnikl/DesignPatternsPHP/blob/master/Behavioral/State/ShippingOrder.php#L9

Because order first of all should be created.

[2017-05-14 19:29] antfig opened #288 "Pattern / More / Repository missing storage interface"
Seems to me that is missing the Storage Interface that MemoryStorage Implements

In (https://github.com/domnikl/DesignPatternsPHP/tree/master/More/Repository)

What you think about that solution with that improvements:
- added Storage Interface
- added Storage interface as dependency to "Post Repository" instead of concrete implementation
- MemoryStorage implementes Storage Interface

https://gith

[2017-07-02 15:19] dergus opened #292 "Factory Method and Abstract Factory patterns are the same"
It seems to me that they're the same and there is no actual difference between them.

[2017-07-02 18:50] a-komarev commented on #292
Couple of words about factories: https://medium.com/@mlbors/a-word-about-factories-25b777e9d6c7

[2017-08-14 12:10] piotrgradzinski opened #296 "PL translation is missing on readthedocs"
Hi @domnikl !
Thanks for the PR merge! I've checked the http://designpatternsphp.readthedocs.io/en/latest/ docs and as far I as can see the polish translation is missing from the list. There are en, de x2, es x2, pt, ru, zh.

I tried to build the docs once again but without success.

Can you please add polish translation also there?

Many thanks!

[2017-08-17 10:40] piotrgradzinski commented on #296
@domnikl - I would be great if you could take a look on that since lack of the polish in readthedocks is a huge disadvantage. Having this is crutial for readers since they wan't clone the repo and browser .md's.

Thanks!

[2017-08-17 13:38] domnikl commented on #296
@piotrgradzinski it was missing, because each translation needs to be in a new project and creating a new is a lot of work to do. I created it and linked it, now its available in polish, too.

[2017-08-17 13:38] #296 closed

[2017-08-28 19:01] sergej-kurakin commented on #292
:+1:

[2017-09-22 04:35] liweiyi88 opened #298 "FlyweightFactory with static fields and methods?"
Would this [line](https://github.com/domnikl/DesignPatternsPHP/blob/master/Structural/Flyweight/FlyweightFactory.php#L14) be
[code]
and make the `get` method to `static get`?

[2017-09-29 11:35] AJenbo opened #299 "Filter Pattern"
Filter pattern is very helpful in reducing excessive parameters and avoid a host of filter functions. So might be nice to add it to the page.

An example in Java:
http://www.tutorialspoint.com/design_pattern/filter_pattern.htm

[2017-10-02 13:39] domnikl commented on #299
Hi @AJenbo and thanks for the idea. But I don't think this is a necessary pattern that everyone should know about. There is hardly any more information found on Google or Wikipedia about it and the pattern is not common to anyone I spoke with.

@piotrgradzinski what's your take on this?

[2017-10-02 19:04] piotrgradzinski commented on #299
Dear @AJenbo!
I have to agree with @domnikl in terms of the popularity of this pattern. For sure this one is not as widely used as others described within this repository. Also, please take into consideration that patterns described in 'others' section are not canonical  (in terms of Go4) yet heavily used across different frameworks and libraries.

This pattern itself is really interesting but in

[2017-10-03 07:53] piotrgradzinski commented on #299
I will close the issue. Open another if needed.

[2017-10-03 07:53] #299 closed

[2017-10-23 12:55] dmitrirussu opened #304 "Your design patterns does not know about SOLID Principles!"
Could you upgrade your Design Patterns examples based on SOLID principles?
now must of them don't know about SOLID :), will be very interesting to see them based on this SOLID Principles.

Thanks

[2017-10-24 05:45] domnikl commented on #304
@dmitrirussu If you want them to be based on SOLID principles you could work on it and I'd be happy to merge a PR. Otherwise I am going to close this.

[2017-10-24 05:50] dmitrirussu commented on #304
ok, :)

[2017-10-31 02:22] EduardoGR commented on #282
i am going to do it! :)

[2017-10-31 14:47] dmitrirussu commented on #304
@domnikl Hi, I have asqed mentor of SOLID principle what we should do if we suspect pattern of SOLID principles violation . Answer is next. All 24 patterns are based on SOLID principles, even if we suspect violation of SOLID principles we have to implement them if we see for us a solution. So nothing to change in your Design Patterns stuff :). SOLID principles are to Abstract, each of us can under

[2017-10-31 14:47] #304 closed

[2017-11-14 15:37] eimihar opened #307 "static factory seemed off"
http://designpatternsphp.readthedocs.io/en/latest/Creational/StaticFactory/README.html

most of static factory implementation I see does not seem to require another class, as the factory method itself is implemented statically on the same type. examples are like :

php datetime Carbon library, like ```Carbon::now()```
http://carbon.nesbot.com/docs/

guzzlehttp ```ServerRequest::fromGlobals()```
ht

[2017-11-14 15:45] piotrgradzinski commented on #307
I think that both approaches are OK.
I mentioned examples you have one static factory per class which is returning objects for class that is attached to. And this is OK. The example that is present in this repository assumes that you have multiple classes sharing same interface and you want to create those objects from one static factory. You could split this and setup static factory separately fo

[2017-11-14 16:01] eimihar commented on #307
Okay, I think I can say that `static factory` and `static factory method` is totally two different things.

As in my opinion, the pattern introduced here (`static factory`) is so unheard of, and going to be confused with the famous `static factory method` pattern..

[2017-11-14 21:12] piotrgradzinski commented on #307
@eimihar - true.
On the other hand there is [Factory Method](http://designpatternsphp.readthedocs.io/en/latest/Creational/FactoryMethod/README.html) described. Not static of course but gives a general idea.

Please feel more thank welcome to contribute Static Factory Method pattern to the repo :)

[2017-11-15 07:36] #307 closed

[2017-11-15 07:50] #282 closed

[2017-12-19 00:24] k-gun opened #313 "Translation issues."
Hi. There are some translation issues (suppose related with RtD) that I would like share.

Some of these translations are not appearing (parenthesized parts):
[code]
---

There are no "THIS IS CONSIDERED TO BE AN ANTI-PATTERN!" and "Service Locator is considered for some ..." paragraphs to translate:
http://designpatternsphp.readthedocs.io/tr/latest/More/ServiceLocator/README.html#service-locator

[2017-12-25 12:58] Isengo1989 opened #315 "docker-compose up error"
Attaching to designpatternsphp_php_1
php_1  | Installing composer...
php_1  | Installer corrupt
php_1  | Could not open input file: composer-setup.php
php_1  |
php_1  | Warning: unlink(composer-setup.php): No such file or directory in Command line code on line 1
php_1  | Downloading dependencies using composer...
php_1  | Could not open input file: composer.phar
php_1  | Running tests...
php_1  |

[2017-12-27 07:52] domnikl commented on #315
@Isengo1989 is now fixed in current master, the problem here has been a checksum problem.

[2017-12-27 07:52] #315 closed

[2018-03-14 01:53] gustavoper opened #320 "Composer could not find a composer.json file in /app"
I'm getting this error just after cloning repo and running ``docker-compose up``. Any suggestions?

![screenshot from 2018-03-13 22-52-00](https://user-images.githubusercontent.com/1050263/37379225-5f94f4f4-2711-11e8-885c-deb726c8be20.png)

[2018-03-23 07:56] domnikl commented on #320
Hi @gustavoper,

which OS are you using? Seems like the volumes do not work correctly. Please verify running:

[code]
and for composer:

[code]

if neither of them shows up the repository contents, your volumes could not be mounted, which is then a general problem in your Docker installation. You could also run `docker-compose config` to verify that the lokal paths are correctly set.

[2018-05-08 12:49] linslin commented on #320
Same problem for me on Windows 10.  Here is an related issue: https://github.com/RobLoach/docker-composer/issues/124

[2018-06-14 14:40] domnikl commented on #320
I am closing this one here, as it seems to be an issue with docker-composer.

[2018-06-14 14:42] domnikl commented on #134
Closing this as there are already some translations. Thank you! If anyone needs help adding new languages, contact me.

[2018-06-14 14:42] #134 closed

[2018-06-14 14:44] domnikl commented on #298
@liweiyi88 yes you could change the methods and `$pool` to static. But remember that static methods are not that easy and comfortably when writing unit tests.

[2018-06-14 14:44] #298 closed

[2018-06-14 20:51] domnikl commented on #286
State pattern reworked, there is no longer a ShippingOrder.

[2018-06-14 20:51] #286 closed

[2018-06-15 16:49] domnikl commented on #292
I reworked both of the patterns and I think the difference between them is now more obvious than before. Have a look if you want.

[2018-06-15 16:49] #292 closed

[2018-06-20 07:29] Cevantime opened #328 "Confusion between AbstractFactory and FactoryMethod"
I might be mistaken but it seems to me that there is an inversion between the AbstractFactory pattern and the FactoryMethod pattern.
Anyway, thank you for this awesome work.

[2018-06-20 16:10] domnikl commented on #328
Hi @Cevantime, a lot of people seem to confuse these two patterns and sometimes use their names interchangeably. But there is a difference between them:
Factory method is about a single method defined in an interface or abstract class that subclasses need to implement in order to create similar objects whereas Abstract Factory is a whole object that creates other related or dependent objects.

Fac

[2018-06-20 16:35] Cevantime commented on #328
Thank you for your quick reply. It seems that I am mistaken, after all !  I had a wrong idea of the nature of both pattern. Sorry, I guess you can close this issue.

[2018-06-20 16:37] #328 closed

[2018-07-10 15:01] piotrgradzinski commented on #267
Since the PR is merged and I can't see any other things to discuss I am closing this issue.

[2018-07-10 15:01] #267 closed

[2018-08-30 11:37] akomm opened #332 "AbstractFactory example not good"
The example does not show, why AbstractFactory is useful.

- AbstractFactory does not implement anything, it is simply an interface.
- AbstractFactory is never used directly, so those two HtmlFactory and JsonFactory classes could be two independend classes with same or different API (no abstract contract usage in the example!) and you will not see a difference as far as the example goes.

The tuto

[2018-09-05 21:39] douma opened #333 "How is visitor possible in PHP?"
Visitor uses method overloading, dynamic dispatch, which is impossible in PHP. The only use for visitor is if languages do not support double dispatch, but they really do need to support method overloading.

In your example there is no way to switch methods based on the parameters. So the accept method becomes low level, while it is supposed to be high level. The accept methods job is to convert t

[2018-09-06 05:53] domnikl commented on #313
Hi @k-gun, I am not able to fix these issues. The original strings have changed, so the translations do no longer match, but I can not translate them. If you really want to help, you could fix it and send a PR.

[2018-09-06 05:53] #313 closed

[2018-09-06 05:57] domnikl commented on #332
Hi @akomm, I do accept PRs on this repo, so if you have a better example, go for it!

[2018-09-06 05:57] #332 closed

[2018-09-06 06:37] domnikl commented on #333
No thats not correct. There is a dependency on the type of the visited class, so method overloading is not necessary. Visitor would only use method overloading to dispatch the method calls to `visit()`, but there is a dependency on the type of the Role thats reflected in the method signature: `visit(Group group)`.

In PHP, the method signature just expresses the same thing, only that the method si

[2018-09-06 06:37] #333 closed

[2018-09-06 07:10] douma commented on #333
So what do you claim? You have implemented double dispatch? This is simply not possible in PHP.

In your case the visitor is a structural pattern, not a behavioral. Looking at the UML the pattern you have created is not that different, but you miss the fact that languages are different. I think you miss the entire intend of why the visitor pattern was created in the first place.

[2018-09-06 08:16] domnikl commented on #333
I didn't claim I implemented double dispatch. And it is not a necessary prerequisite to implement the Visitor pattern. In fact even the example by Gang Of Four does not use double dispatch.

And I do not miss the fact that languages are different, but you are. I provided you with the Python example that does not use double dispatch either and is just fine.

[2018-09-11 12:12] cap5lut opened #334 "Wrong file content"
On your website (https://designpatternsphp.readthedocs.io/en/latest/More/Repository/README.html) there is the content for Persistence.php wrong, its showing the InMemoryPersistence.php content.

[2018-09-12 08:11] domnikl commented on #334
A rerun of the readthedocs build fixed it. Thanks for the report!

[2018-09-12 08:11] #334 closed

[2018-09-17 22:36] barat opened #335 "Composer service in docker-compose.yml causing problems."
Hi,
I just want to inform, that placing `composer` service is not a good idea if you recommend to run the project via `docker-compose up`. It'll make both containers run, and files in vendor will be duplicated and we'll have warnings like this:
`Warning: Ambiguous class resolution, "PharIo\Manifest\BundlesElement" was found in both "/opt/php/vendor/phar-io/manifest/src/xml/BundlesElement.php" and

[2018-10-06 10:05] AchoArnold commented on #335
I can confirm that I ran into this same issue when I tried running `docker-compose up`

[2018-10-13 08:17] ryantfowler opened #339 "Update Copyright Year on https://designpatternsphp.readthedocs.io"
Hi,

The Copyright year on https://designpatternsphp.readthedocs.io reflects 2015, which gives the impression that this resource is out of date. I only found that there is recent activity when visiting this repository.

I didn't see where I could accomplish this via github.com or I would have opened some PR(s). If I am missing something, please let me know and I'll create some PR(s).

Thank you fo

[2018-10-15 06:14] #339 closed

[2018-10-15 06:15] domnikl commented on #339
fixed in #340. That is configured in `conf.py` for the Sphinx build for RTD.

[2018-10-22 19:39] domnikl commented on #335
9910fdf1118216d7cdb9bf15611c337f2900ce43 should solve this issue. There is only one service in docker-compose.yml that runs Composer, cs and test via make now, so everything can be run using make (Sphinx build for readthedocs documentation is build using make, too).

[2018-10-22 19:39] #335 closed

[2018-11-07 02:41] myamine opened #342 "ami.pho"
<?php
echo $_SERVER['DOCUMENT_ROOT'].'IMG_0055.PNG';

?>

[2018-11-15 20:31] Daisuke-sama opened #343 "Docker is not built"
Hi,

ERROR: Service 'php' failed to build: The command '/bin/sh -c apt-get update     && apt-get install -y zlib1g-dev wget git-core python-pip     && docker-php-ext-install zip     && pip install Sphinx' returned a non-zero code: 100

I am constantly receiving this error.
What do you think it could be?

[2018-12-06 06:18] dujuwen opened #345 "file DesignPatternsPHP/Creational/AbstractFactory/CsvParser.php"
line 22:
$headerWasParsed = false;

line 26:
if (!$headerWasParsed && $this->skipHeaderLine === self::OPTION_CONTAINS_HEADER) {

Is variable $headerWasParsed redundant?

[2018-12-11 04:29] shanezhiu opened #346 "[Suggestions] Is there any possibility to add MIXIN in this docs?"
Is there any possibility to add MIXIN in this docs?

[2018-12-11 18:03] roma-glushko opened #347 "[Discussion] Should Repository be marked as anti-pattern?"
Hi there,
Should repository pattern be marked as anti-pattern?

It seems it behave like a helper or a multi-task manager that is doing too much and responsible for both reading and writing information. Depends on system/platform, such repository classes can require a lot of dependencies because of breaking SRP and it becomes a big deal to instantiate them which is possible performance bottleneck.

[2018-12-14 18:45] domnikl commented on #347
Hi @roma-glushko,
I think that the Repository pattern is no anti-pattern. Instead it is a very important pattern in Domain Driven Design to encapsulate persistence and provide a simple facade to it. Clients of the repository don't care how those requested aggregates are persisted.

It also works very well with CQRS architectures where it supports the Command side of the application in getting and

[2018-12-14 18:48] domnikl commented on #346
What do you mean by that? I only know mixins from languages like Ruby where they are a language construct. PHP does have traits instead.

[2018-12-14 18:49] domnikl commented on #342
Cat on the keyboard? 😼

[2018-12-14 18:49] #342 closed

[2018-12-14 18:51] domnikl commented on #345
Was fixed in 643b0539d1690eb0320b3496b1135ab0be100829

[2018-12-14 18:51] #345 closed

[2018-12-14 18:59] domnikl commented on #343
Hi @Daisuke-sama, could you please post the full output of `docker-compose up --build`?

[2018-12-14 19:21] domnikl commented on #343
Ok, found it myself. Please try again with current master.

[2018-12-15 09:39] shanezhiu commented on #346
Actually, it's a method that like traits achieved in Yii2 framework [behaviors](https://www.yiiframework.com/doc/guide/2.0/en/concept-behaviors)

[2018-12-15 14:49] domnikl commented on #346
Seems to me that those behaviors are very specific to Yii2 and not a general design pattern to be applicable to general PHP code. So I won't add it.

[2018-12-15 14:49] #346 closed

[2018-12-18 11:31] kopecny-shockworks opened #348 "AbstractFactory pattern breaks Liskov substitution principle"
Both CsvParser and JsonParser implement Parser interface, but they are not substituable one for the other.
Imagine a client class:
[code]

Now the client should work no matter what parser it is passed, but the opposite is true:

[code]

That said, both CsvParser and JsonParser have a method with the same name and signature, but they really don't implement the same interface.
This is a common misco

[2018-12-20 10:21] koraykupe commented on #348
Also, the boolean parameter -_skipHeaderLine_- should be removed from the createCsvParser method. It is not recommended.

https://martinfowler.com/bliki/FlagArgument.html

[2018-12-20 10:42] koraykupe opened #350 "May the abstract factory example be confusing?"
Hi,

As far as I know, the abstract factory creates the object from a different interface for each product family, but the examples look like the opposite way.

For the abstract method, I think there are a few different ways to implement it.

What do you think?

[2018-12-24 14:05] shanezhiu commented on #346
Fine.

[2018-12-27 09:41] #343 closed

[2018-12-27 09:41] #347 closed

[2019-01-09 06:43] abdulrahman19 commented on #350
Yes the current Abstract factory example is so confusing. Also the factory class itself doesn't have an interface to ensure that every object collection (grouped) with the same conventions.

![abfaccldia](https://user-images.githubusercontent.com/22733622/50881536-98e61000-13ea-11e9-8227-19daecb7ac70.jpg)

I hope to review the current example.

[2019-01-09 21:51] BentCoder opened #352 "Out-dated Specifications pattern"
Hi,

The [Specifications](https://github.com/domnikl/DesignPatternsPHP/tree/master/Behavioral/Specification) pattern seems to be out-dated. The diagram, Readme and the actual class files don't match.

Regards

[2019-01-10 19:12] domnikl commented on #352
fixed in 23e520aee9e5919cb7f5279e7a01c0487d08ec94, thanks for reporting!

[2019-01-10 19:12] #352 closed

[2019-02-25 21:16] domnikl commented on #348
Thanks for all your in put. I changed the pattern to a more simple approach.

[2019-02-25 21:16] #348 closed

[2019-04-13 16:26] lukeduda commented on #350
Yes, example is horrible. Based on it wanted to find difference between Factory Method and Abstract factory and it make that so confusing.
Funny thing is that polish trnanslation has some older example which in my opinion is better
https://designpatternsphp.readthedocs.io/pl/latest/Creational/AbstractFactory/README.html

![Old example for Abstract Factory](https://designpatternsphp.readthedocs.io/

[2019-07-24 09:50] WencoChen opened #363 "docker-composer up --build error"
Here is the build log.
[code]

[2019-07-28 11:26] widoz commented on #350
I would also specify better what "Abstract" in this context means, the example image of @lukeduda is showing a Factory Method not an Abstract Factory, see differences between PL and EN https://designpatternsphp.readthedocs.io/en/latest/Creational/AbstractFactory/README.html the "abstract" in AbstractFactory seems is not intended to be Abstract _class_ or _interface_, I'm surely wrong but sounds mo

[2019-08-17 21:17] domnikl commented on #363
At first glance this looks like a clash between Python2 and 3. I am planning to update this to use Python3 the next few days anyway.

[2019-08-27 04:36] domnikl commented on #350
Yes you are right, the example is confusing and not showing an Abstract Factory but a Factory Method instead. I will rewrite it in the next days and get back here with a PR for the new example.

[2019-08-27 19:05] domnikl commented on #350
I rewrote the example in #366. Please review the PR and leave any comments you have there. Thanks!

[2019-09-03 16:41] domnikl commented on #350
#366 is now merged and I hope everyone likes the new example :)

[2019-09-03 16:41] #350 closed

[2019-09-03 16:42] domnikl commented on #363
I moved the Sphinx build to Python3, does the error come up for you with the changed build too?

[2019-09-10 10:03] WencoChen commented on #363
Thanks,the old issue solved ,but a new one occurred
![image](https://user-images.githubusercontent.com/38133076/64604753-49326b00-d3f5-11e9-9180-f5c75b5c6bb1.png)

[2019-09-10 11:43] sw4n opened #367 "Proxy pattern docs missing test code on wiki"
Hello! Great job with this list of patterns! Found minor gap - for each pattern you have description, examples, code listing and phpunit test. But for "Proxy" pattern I see that there is test on github here:
https://github.com/domnikl/DesignPatternsPHP/blob/master/Structural/Proxy/Tests/ProxyTest.php
but it is absent on wiki:
https://github.com/domnikl/DesignPatternsPHP/blob/master/Structural/Prox

[2019-09-18 18:09] #363 closed

[2019-09-21 00:03] ko22009 opened #369 "Generate uml diagram by phpstorm is not good idea."
For example mediator have the next demonstration, but in the phpstorm is not the same. It create wrong picture. It's problem of php. Bcz only php 7.4 and above support Typed Class Properties. reverse engineering php with phpdoc will be work correctly with earlier versions of php.
![image](https://user-images.githubusercontent.com/11016041/65364650-b54e7380-dc2c-11e9-929d-96efa0b738ea.png)
![Alt te

[2019-09-24 20:09] Sarke opened #370 "Aspect Oriented Programming (AOP)"
I don't have any experience with it, but I've heard about it being used in PHP.  It could be added if anyone is interested.

http://aop-php.github.io/

https://github.com/goaop/framework

[2019-10-03 16:34] permiakov opened #371 "Singleton and static keyword"
Hi guys, i was wandering what the purpose of using **static**, if your class marked as **Final**?
[code]

[2019-10-11 14:15] oLDu67 commented on #370
Also you can use decorator pattern for aop.

[2019-10-11 19:16] jirkavrba commented on #371
`Final` has nothing to do with the `static` keyword.
`Static` keyword means that the property or value is bound to class not instance. This means that when you have a static attribute, it is shared between all instances of that class. If you have a static method it means you have to call it on the class as a whole not it's instance.
[code]

The `final` keyword indicates, that the class cannot be e

[2019-10-11 19:27] permiakov commented on #371
Okay, then what is the difference between 2 calls
static::$var
and
self::$var
?

[2019-10-11 21:00] jirkavrba commented on #371
There is a difference that the `static` and `self` references class where it is defined,
But if you inherit a class then it gets different. Consider having two classes: class `Parent` and class `Child` which extends `Parent`. If you use both keywords in `Parent` self will always be pointing to `Parent`. But the inherited class `Children` will override `static` which is then pointing to `Children`

[2019-10-11 21:18] permiakov commented on #371
Looks like you almost understood the main question

[2019-10-15 11:58] itsazzad commented on #363
I am still getting the error:
[code]

[2019-10-17 13:48] itsazzad opened #373 "Read the Docs of DesignPatternsPHP page does not exist"
https://designpatternsphp.readthedocs.io/en/latest/

        \          SORRY            /
         \                         /
          \    This page does     /
           ]   not exist yet.    [    ,'|
           ]                     [   /  |
           ]___               ___[ ,'   |
           ]  ]\             /[  [ |:   |
           ]  ] \           / [  [ |:   |
           ]  ]  ]

[2019-10-19 20:54] domnikl commented on #373
Must have been a temporary glitch, is reachable at the moment.

[2019-10-19 20:54] #373 closed

[2019-10-19 20:59] domnikl commented on #371
Hi @permiakov, when a class is final, it makes no difference if you use `static` or `self`. So there is no real need for it here, just a personal preference in this case.

[2019-10-19 20:59] #371 closed

[2019-10-19 21:04] domnikl commented on #370
Hi @Sarke and thanks for your proposal! I don't want to add it though. The reason being that AOP is a whole paradigm not just a pattern and you need to build complex frameworks in order to use it and that would be too much to do here and I also don't want any dependency on a framework here.

[2019-10-19 21:04] #370 closed

[2019-10-19 21:06] domnikl commented on #369
Hi @ko22009, I totally see your point. Care to provide a PR for an alternative?

[2019-11-01 13:37] ko22009 commented on #369
@domnikl Maybe after reliaze php 7.4 we can see it. Waiting is not long, November 28

[2019-12-15 19:03] domnikl opened #376 "Dockerfile should use multi-stage build"
Docs using Sphinx should be build in a Python container and then copied over to a fresh nginx container to serve the docs, no PHP needed here.

[2019-12-15 19:04] domnikl opened #377 "build docs in Github Actions"
Github Actions should also test building documentation for pushes and pull requests to check for broken docs. Seems like there is a Docker container for that: https://hub.docker.com/r/readthedocs/build/

[2020-02-27 19:54] gromovadarya90 opened #379 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 22:03] renata2216 opened #380 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:24] renata7738 opened #381 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-28 05:37] helen798 opened #383 "hytgfghjuyhghjuyg"
kjuyg juyghyg jhjuhgbhj jhghjhgvb

[2020-03-08 08:19] Netvilox commented on #376
Please am new here but I have a website I want to create plugin for how do I start. I have little knowledge about php, html, and css

[Netvilox.com](Netvilox )

[2020-04-03 11:57] domnikl commented on #376
done in be66dcc

[2020-04-03 11:57] #376 closed

[2020-04-09 03:17] laraws opened #385 "Can't visit generated documentation by external ip"
Generated documentation only can be visited on  localhost with 8080 port. It can't be visited by external ip. how to enable it?

[2020-04-10 06:49] laraws opened #386 "How to generate documentation with multi languages?"
It only generates English version documentation When I run:

[code]
How to generate documentation with multi languages?

[2020-04-10 10:25] #385 closed

[2020-04-10 10:28] laraws commented on #385
The problem is my cloud server's firewall has limited the ports. Now I have solve it.

[2020-04-16 03:45] laraws opened #387 "Fatal error: Uncaught Error: Class 'PHP_CodeSniffer\Runner' not found"
When I use command to exec phpcs, erros displays like this:
[code]

[2020-04-16 07:11] acheyou commented on #387
Try execute command `composer install` before.

[2020-04-16 09:51] laraws commented on #387
I have tried it, but it doesn't work.

[2020-04-16 17:22] acheyou commented on #387
try `vendor/bin/phpcs` or `php vendor/bin/phpcs`

[2020-04-17 11:16] domnikl commented on #387
Hey @laraws could please tell the steps you did before running this? Are you using Docker? What output did `composer install` show?

[2020-04-17 11:31] domnikl opened #388 "Generate localized docs with Docker Arguments"
To have the docs built in a certain language, a Docker argument should be used when building.

[2020-04-18 06:17] laraws commented on #387
It solved after I ran the `composer update`. It may be a format problem. I copied the project from the GCP Ubuntu instance before I did `. /vendor/bin/phpcs. `. I'm using docker with PHP environment.

[2020-04-18 06:17] #387 closed

[2020-04-19 02:13] laraws commented on #386
It works. Thx.

[2020-04-19 15:20] vladyslavstartsev commented on #369
@ko22009 @domnikl ping! Any news?

[2020-05-04 20:38] ko22009 commented on #369
@vladyslavstartsev
There is no decision for now.
Maybe automatic creating diagram is not good decision.

[2020-06-07 08:52] domnikl commented on #369
@vladyslavstartsev as @ko22009 already said: there is no decision right now. I've reviewed some tools to automatically generate diagrams but they all do not look as good as the ones generated by PhpStorm. So for now, I will go with that.

[2020-06-15 14:17] ajest opened #392 "Patterns order"
I just want to suggest to order the patterns by complexity or logic relation, for example StaticFactory maybe is the first step, then SimpleFactory, and then AbstractFactory. Another idea is to write below "related patterns" to make easiear to understand them.
Thanks!

[2020-06-18 22:53] 20jam commented on #392
Thats a great idea, I wonder if a page title quickstart, or something would make this easy to implement this.

[2020-07-19 10:24] domnikl commented on #392
There would be 2 places where ordering could be applied: the README and the front page of the readthedocs page. But how do you measure complexity here? Logic relation applies only to very few patterns here.

[2020-07-19 10:25] domnikl commented on #369
As there isn't any progress here and I do not see an eligible alternative by now, I am closing this.

[2020-07-19 10:25] #369 closed

[2020-07-20 00:04] ajest commented on #392
Your right, it seems like it only applies to the creational patterns section. Thanks for replying!

[2020-07-20 00:04] #392 closed

[2020-10-01 05:46] #377 closed

[2020-10-01 05:47] domnikl opened #398 "list existing translations in the README"
To better show which translations exist, there should be a list in the README for that.

[2020-10-01 15:31] NeonDevil commented on #398
#399

[2020-10-03 06:06] domnikl commented on #398
Thanks for the PR @NeonDevil! I know the issue didn't specify it, but we should put links to read the docs.org in here for all the languages and also for the default (english). Care to change it?

[2020-10-04 14:59] volk-s opened #402 "2.11.3 recommends using DI instead, not being specific"
please excuse my noob question
how would the example of [2.11.3](https://designpatternsphp.readthedocs.io/en/latest/Structural/Registry/README.html#code) and [2.11.4](https://designpatternsphp.readthedocs.io/en/latest/Structural/Registry/README.html#test) look like, if it would have been done with DI as suggested?

[2020-10-04 15:22] lix-dev commented on #398
Completed in #401 ;)

[2020-10-05 09:23] bu4ak opened #403 "Broken documentation url in readme"
![изображение](https://user-images.githubusercontent.com/17143820/95062061-bac61100-06fc-11eb-92fa-88ee2af32f68.png)

___
returns
___
![изображение](https://user-images.githubusercontent.com/17143820/95061758-51460280-06fc-11eb-9041-7b054e3b10a8.png)

[2020-10-11 10:56] harsha14581 commented on #403
Hi @bu4ak, i have created a PR request for this issue. PR request is https://github.com/domnikl/DesignPatternsPHP/pull/408

[2020-10-11 11:01] bu4ak commented on #403
![image](https://user-images.githubusercontent.com/17143820/95676890-de3c0080-0bc1-11eb-8029-713b381d5966.jpeg)

[2020-10-11 18:38] Hyftar commented on #402
The concept behind Dependency Injection is that everything is loosely coupled and everything can be replaced easily to introduce new behaviors.

Let's say I have a service that says "Good morning" if it's the morning, "Good afternoon" in the afternoon and "Good evening" in the evening:

[code]

Now let's say you had to test your service to make sure it works properly, how would you write a test th

[2020-10-13 13:40] #403 closed

[2020-10-13 13:48] #388 closed

[2020-10-13 13:55] domnikl commented on #398
Done in #401, thank you @NeonDevil and @lix-dev for your effort!

[2020-10-13 13:55] #398 closed

[2020-10-13 18:44] raphaeldealmeida opened #409 "CircuitBreaker pattern"
Do you think it is valid for me to implement the [CircuitBreaker](https://martinfowler.com/bliki/CircuitBreaker.html) pattern?

[2020-10-17 18:10] domnikl commented on #409
I would happily merge a PR with the pattern! Make sure to add in the 'More' category :)

[2020-11-04 19:31] #402 closed

[2020-11-26 15:09] korzol opened #418 "Bulgarian Translation"
Hello there
Excellent documentation!
I'd like to translate it into Bulgarian. What's the best approach?
Is it enough to only create *.po files under locale/bg/LC_MESSAGES ?

Thank you!

[2020-11-27 09:53] domnikl commented on #418
Hello @korzol, please also add a link in the [README.md](https://github.com/domnikl/DesignPatternsPHP/blob/main/README.md). If you are ready, I will create a new readthedocs project from it and link it to the main project. Thanks!

[2020-11-27 10:29] korzol commented on #418
Hello @dominikb, I already started work on translation. Hope to finish it this weekend

[2020-12-09 16:18] korzol commented on #418
Hello @domnikl
Did you have a chance to check out my pull request?

Regards

[2020-12-14 07:15] domnikl commented on #418
Hi @korzol, looks great! Thanks for your hard work! Merged it and is now available on RTD.

[2020-12-14 07:15] #418 closed

[2021-01-11 10:00] sunmengkai opened #420 "Hello 。When I run phpunit, this error occurs. How can I solve it? Thank you"
![image](https://user-images.githubusercontent.com/23547499/104166983-9170fb80-5436-11eb-9487-71875f45df01.png)

[2021-01-11 10:01] sunmengkai commented on #420
There was 1 error:

1) Error
The data provider specified for DesignPatterns\Creational\AbstractFactory\Tests\AbstractFactoryTest::testCanCreateCsvWriterOnUnix is invalid.
Error: Class 'DesignPatterns\Creational\AbstractFactory\UnixWriterFactory' not found
E:\phpstudy\phpstudy_pro\WWW\index\DesignPatterns\Creational\AbstractFactory\Tests\AbstractFactoryTest.php:17

ERRORS!
Tests: 1, Assertions: 0,

[2021-01-23 22:10] domnikl commented on #420
Hi @sunmengkai,
based on your directory structure, you are not running `phpunit` from the repository root, thus not loading the `phpunit.xml.dist` configuration which contains the bootstrap (composer's autoloader). Please either run it in the correct directory or explicitely load the configuration file.

[2021-01-23 22:10] #420 closed

[2021-01-23 22:11] #409 closed

[2021-02-23 01:30] alexkb opened #421 "AbstractFactory - how does it know which WriterFactory to return"
In the [AbstractFactory](https://github.com/DesignPatternsPHP/DesignPatternsPHP/tree/main/Creational/AbstractFactory) example, I'm curious where the concrete class of WriterFactory.php is located. i.e. where is the code that determines if the factory should return the Windows WriterFactory or the Unix WriterFactory. Apologies if this is obvious, I just couldn't find it. Thank you.

[2021-02-25 11:35] domnikl commented on #421
Hey @alexkb! It's not obvious because it's not here. The client code would decide that and so it's simply not implemented here. You could do that with a Strategy pattern or with a simple if-else in the code.

[2021-02-27 10:17] vanvietfoss opened #422 "Design Patters PHP"

[2021-02-27 11:38] domnikl commented on #422
What's that?

[2021-02-27 14:51] #422 closed

[2021-03-12 11:56] #421 closed

[2021-03-13 11:47] a1812 opened #426 "composer install - FAIL"
[code]
Installing dependencies from lock file (including require-dev)
Verifying lock file contents can be installed on current platform.
Your lock file does not contain a compatible set of packages. Please run composer update.

  Problem 1
    - ocramius/package-versions is locked to version 1.7.0 and an update of this package was not requested.
    - ocramius/package-versions 1.7.0 requires compo

[2021-03-14 18:06] a1812 commented on #426
complete in PR https://github.com/DesignPatternsPHP/DesignPatternsPHP/pull/428

[2021-03-15 07:55] #426 closed

[2021-03-15 07:55] domnikl commented on #426
Thank you for the issue and the fix, I merged it in.

[2021-06-14 14:03] ajest opened #437 "Translation error in readthedocs"
It seems like the translations are not working well in the spanish version, ie https://designpatternsphp.readthedocs.io/es/latest/Creational/AbstractFactory/README.html

![Captura de pantalla 2021-06-14 a la(s) 11 00 49](https://user-images.githubusercontent.com/4982093/121904988-0dca7c00-cd00-11eb-8922-65625b656680.png)

[2021-09-30 06:15] domnikl commented on #437
Hi @ajest, that is because the original text has been changed and there isn't yet a new translation. Unfortunately I don't speak spanish. I'd be happy to merge a PR for this though :)

[2021-09-30 06:18] domnikl opened #444 "use standard coding style from PHP Code Sniffer"
Right now, the FLYERALARM coding style is being used, instead the standard coding style from Code Sniffer should be used. With that, the dep on `flyeralarm/php-code-validator` can be removed.

[2021-09-30 17:13] leonhusmann commented on #444
Hi, I would like to work on this issue. When you're referencing to the "standard" coding style from Code Sniffer you mean "PEAR" right? Just to make sure I'm not applying the wrong standard.

When I get you right your desired `phpcs.xml.dist` would look like this right?
[code]

[2021-09-30 17:32] domnikl commented on #444
Hi @leonhusmann, thanks for working on it! I'd much rather ditch the config entireley (if possible) and just use the PSR12 standard.

[2021-10-01 13:34] mariosimao commented on #444
I've created a PR adopting the PSR-12 standard

[2021-10-02 18:22] #444 closed

[2021-10-03 00:18] nmarulo opened #448 "Translate the Structural pages into Spanish"
Hello, can I try to translate the pages of the Structural section into Spanish?

- https://designpatternsphp.readthedocs.io/es/latest/Structural/README.html

[2021-10-05 17:16] manueldose commented on #437
Hi @domnikl  I'm really new to the world of open source and public relations, I would like to help with the Spanish translations. How do I proceed? Which are the files that I should modify the README.md or the README.rst

[2021-10-08 22:50] #448 closed

[2021-10-31 21:04] raphaeldealmeida opened #465 "Incomplete translation to Brazilian Portuguese"
As I studied the guide I noticed that some parts of it were not fully translated into Brazilian Portuguese.

I did a review and found the following pages that need improvement:
https://designpatternsphp.readthedocs.io/pt_BR/latest/Structural/DependencyInjection/README.html#
https://designpatternsphp.readthedocs.io/pt_BR/latest/Structural/Facade/README.html
https://designpatternsphp.readthedocs.io/

[2021-11-29 17:01] luke-navitas opened #470 "Observer pattern is unclear as implementation of update is not clear"
https://github.com/DesignPatternsPHP/DesignPatternsPHP/blob/main/Behavioral/Observer/User.php

I _think_ it would be clearer indication of intent if the User class stored the changed email before calling `notify()` at present, the changed Email in the example is discarded, so whilst the notify method is called, the actual observer doesn't see the change so to speak.

[2021-12-06 13:00] #470 closed

[2021-12-06 14:19] domnikl commented on #465
Closing as it is already merged. Thanks @raphaeldealmeida!

[2021-12-06 14:19] #465 closed

[2021-12-09 09:26] jamielsharief opened #472 "strategy pattern php"
I am Googling `strategy pattern php` and don't see my favourite resource on design patterns (your website).

I suggest looking at adding some important keywords to pages , perhaps some breadcrumbs can help (link juice with important keywords), and maybe adding spaces to `DesignPatternsPHP` to ensure those keywords are picked up.

[2021-12-14 12:33] domnikl commented on #472
Hi @jamielsharief, great to hear that you like it 😃
I am by far no expert in SEO, I added some meta keywords and will be working on each page later on when I've got more time. Hopefully that will improve search engine ranking. Thanks for your input on this!

[2022-04-05 06:45] #472 closed

[2022-04-05 06:45] #437 closed

[2022-07-03 13:56] csandreas1 opened #485 "undefined class TestCase."
I've run and built the docker file, setup interpreter in PHPStorm, however PHPUnit library is highlighting red. `Undefined class 'TestCase' ` .

Is there anything that I may have forgotten to setup in the IDE?

![image](https://user-images.githubusercontent.com/21238024/177042884-b27d35a6-0af6-428a-98f2-98eacef340b4.png)

![image](https://user-images.githubusercontent.com/21238024/177042897-3c1862

[2022-07-03 14:06] csandreas1 commented on #485
PHP version: 8.0.13
PHP CLI: /usr/local/bin/php PHP CGI: /usr/local/bin/php-cgi
Loaded Configuration File: Not Found
Additional .ini files parsed:  /usr/local/etc/php/conf.d/docker-php-ext-sodium.ini
Debugger extension: Not Found
Loaded extensions:  Core, ctype, curl, date, dom, fileinfo, filter, ftp, hash, iconv, json, libxml, mbstring, mysqlnd, openssl, pcre, PDO, pdo_sqlite, Phar, posix, readli

[2022-07-04 07:30] csandreas1 commented on #485
It seems project file I have cloned is no mapped to docker correctly

[2022-07-04 08:56] #485 closed

[2022-07-04 08:58] csandreas1 opened #486 "Help with Docker"
I am new to docker, after running docker-compose up --build, project is successfully built, however I am not able to find the created project files in order to be able to open the project in my IDE and run the tests.

I am using PHPstorm. Can anyone please explain the build process?

[2022-07-04 09:32] domnikl commented on #486
Hi @csandreas1, you cannot run the tests in the container after it is build because it does not contain the PHP code. The container is only for viewing the documentation. However the tests are run in the process of building that container to ensure that the code is working correctly. You can see that `phpunit` runs in the Dockerfile: https://github.com/DesignPatternsPHP/DesignPatternsPHP/blob/main

[2022-07-04 10:03] csandreas1 commented on #486
I got confused because the docker file is inside the repository of the project with the PHP code. Perhaps an update on the documentation here could make things more clearer of the docker setup and purpose.

[2022-07-15 12:12] #486 closed